---
apiVersion: v1
kind: Service
metadata:
  name: app-service
  namespace: default
  labels:
    run: app-service
spec:
  type: LoadBalancer
  selector:
    run: app-deployment
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
